<html>
    <head>
        <title><%= node['hostname'] %></title>
    </head>
    <body>
        <h1><%= node['hostname'] %></h1>
        <p>Welcome to the <%= node['hostname'] %> web server</p>
    </body>
</html>
